   
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        text-align: center;
    }

   
    .container {
        background: rgb(1, 241, 225);
        width: 30%;
        margin: 100px auto;
        padding: 100px;
        border-radius: 10px;   
    }

   
    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    
    h2 {
        color: #000000;
        border-bottom: 5px solid #060400;
    }

    li {
        font-size: 20;
        background: #f9f9f8; 
       
    }
